# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Android build folders
/android/app/debug
/android/app/profile
/android/app/release

# Node
node_modules/
functions/node_modules/

# Large dumps
*.hprof

# CRITICAL SECRETS - DO NOT UPLOAD TO GITHUB
tool/service-account.json
secrets/*.json
serviceAccountKey.json
functions/serviceAccountKey.json
firebase-debug.log
/android/app/google-services.json
google-services.json
*.keystore
key.properties
.env
secrets.dart